* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f1f2f6;
}

header {
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 70%;
  margin: 0 auto;
  font-size: 40px;
}

.info {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 20px auto;
  background-color: #fff;
}

.info img {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 30px;
}

.info h4 {
  font-size: 30px;
}

.products {
  width: 70%;
  max-width: 1300px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.product {
  width: calc(100% / 3 - 30px);
  text-align: center;
  background-color: #fff;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.product img {
  width: 70%;
  height: 200px;
  margin: 10px 0 20px;
  object-fit: contain;
}

.product h2 {
  font-size: 20px;
}

.product h1 {
  font-size: 18px;
  margin: 10px 0;
  color: #1abc9c;
}

.operations {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.product button {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.product input {
  width: 100px;
  outline: 0;
  border: 1px solid #afafaf;
  padding: 0 10px;
  font-size: 20px;
  text-align: center;
}

button.sell {
  background: #fd1014;
}

button.buy {
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
}

button:disabled {
  background: #f1f2f6;
  color: #333333;
  cursor: not-allowed;
}
